{% extends 'shop/base.html' %}
{% block body %}

{% for order in page_obj %}
    <br>
    Заказ номер: {{order.id}} <br>
    {% for entries in order.entries %}
        <a href="{% url 'shop:product_detail' entries.product.id %}">{{entries}}</a>---{{entries.product.price}}$---{{entries.count}}<br>
    {% endfor %}
    <b>Total:</b> {{order.count}}$<br>
    <form action="{% url 'shop:repeat_order' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Повторить заказ" class="btn btn-danger"/>
        <input type="hidden" name="new_id" value="{{order.id}}"/>
        <br>
        </form>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}