{% extends 'articles/base.html' %}

{% block title %}Article{% endblock %}

{% block body %}
      <form action="{% url 'articles:like' article.id %}" method="post">
        {% csrf_token %}
            {% if article%}
                <ul>
                    <legend><h1>Название статьи: {{ article.article_name }}<br></h1></legend>
                    Автор: {{ article.author_name }}<br>
                <i>{{ article.article_text }}<br></i>
                like: {{article.like_count}}
            </ul>
         <input type="submit" value="like"/>

        {%else%}
            <p>No Article are available.</p>
        {%endif%}
      </form>
{% endblock %}


