{% extends 'shop/base.html' %}

{% block body %}
{% for order in order_entry %}
<br>
<br>
<li><a href="{% url 'shop:product_detail' order.product.id %}">{{ order }}--{{order.total}}$--{{order.count}}</a></li>
<p>
<form action="{% url 'shop:update_count' %}" method="post">
    {% csrf_token %}
    <input type="number" name='new' value="{{order.count}}"/>
    <input type="submit" value="update" class="btn btn-danger"/>
    <input type="hidden" name="id" value="{{order.id}}"/>
</form>
</p>

<form action="{% url 'shop:clear_concrete_order' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="delete" class="btn btn-danger"/>
    <input type="hidden" name="id" value="{{order.product.id}}"/>
</form><br>
{% endfor %}
<br>
<br>
<form action="{% url 'shop:clear_order' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="clear order" class="btn btn-danger"/>
</form>
Total cost: {{total}}$
<br>
<br>
<br>
<form action="{% url 'shop:make_order' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="make order" class="btn btn-danger"/>
    <input type="hidden" name="status" value="{{order.status}}"/>
</form>
{% endblock %}